*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background-color: #222222;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20% 0;
}
form input{   
    width: 25%;
    height: 55px;
    border-radius: 7px;
    outline: none;
    background: #666666;
    border: 1px solid white;
    color:#fff ;
    margin: 10px 0px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0px 10px;
    font-family: inter;
}
form input::placeholder{
    color: #fff;
}
form input[type=submit] {
        background-color: rgb(170, 75, 75);
        width: 7%;
        text-transform: uppercase;
        height: 45px;
        margin: 1% auto;
        font-family: poppins;
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 4.5px;
}
   
